.top-content {
    background: #2a4fba;
    background: linear-gradient(180deg,#2780e6 9%,#3f94e4 22%);
    position: relative;
    height: auto;
    min-height: 100% !important;
        
    .container-top{
        height: 60%;

    }
    
    .container-chart{
        height: 40%;
    }
}