.chart-weather{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
    img{
        position: relative;
        bottom: 100px;
    }
    .text-day{
        display: inline-block;
        position: sticky;
        left: 44%;
        bottom: 64%;
        font-size: 18px;
        font-weight: bolder;
    }
    .text-line{
        position: absolute;
        left: 50%;
        bottom: calc(100%-20px);
        width: 0.5px;
        height: 265px;    
        background: rgba(0,0,0,.2); 
        content: "";
    }
    .title-chart-weather{
        font-size: 18px;
        font-weight: bolder;
        position: sticky;
        top: 820px;
        left: 20px;
        span{
            margin-right: 5px;
        }
        .text-light-blue{
            color: rgb(126, 206, 233);
            position: absolute;
            bottom:280px;
        }
        .text-orange{
            position: absolute;
            bottom: 280px;
            left: 50px;
            color: rgb(216, 162, 38);
            width: 150px;
        }
        .text-dot{
            position: absolute;
            bottom: 285px;
            left: 42px;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: #bbb;
            display: inline-block;      
        }
     
    }

    
}