.chart-weather{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    position: relative;

    img{
        position: relative;
        bottom: 100px;
    }
    .text-day{
        display: inline-block;
        position: sticky;
        left: 50%;
        transform: translateX(-50%);
        bottom: 74%;
        font-size: 18px;
        font-weight: bolder;
    }
 
       
    .text-line{
            position: sticky;
            left: 50%;
            transform: translateX(-50%);
            bottom: 35px;
            width: 1px;
            height: 175px;    
            background: rgba(0,0,0,.2); 
            content: "";
    }
    
    .triangle-up{
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 15px solid rgb(255, 255, 255);
        position: sticky;
        left: 50%;
        transform: translateX(-50%);
        bottom: 45px;
    }
   
    .text-time{
        font-size: 16px;
        display: inline-block;
        position: sticky;
        width: 80px;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
    }
    .title-chart-weather{
        font-size: 18px;
        position: sticky;
        left: 10px;
        width: 100%;
        bottom: 500px;
        span{
            margin-right: 5px;
        }
        .text-light-blue{
            color: rgb(126, 206, 233);
            position: absolute;
            top: 5px;
            left: 1px;
        }
        .text-orange{
            position: absolute;
            top: 5px;
            left: 50px;
            color: rgb(216, 162, 38);
            width: 150px;
        }
        .text-dot{
            position: absolute;
            top: 15px;
            left: 42px;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: #bbb;
            display: inline-block;      
        }
      
    }

    
}